body {
    background-color: #cccccc;
    font-family: Georgia, "Segoe UI", Helvetica, Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: Consolas, source-code-pro, Menlo, Monaco, "Courier New",
        monospace;
}
